<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Mofluid. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mofluid_Notifications::mofluid_notifications"
             title="Mofluid Notifications"
             module="Mofluid_Notifications"
             parent="Mofluid_Mofluidapi2::base"
             sortOrder="30"
             dependsOnModule="Mofluid_Notifications"
             resource="Mofluid_Notifications::configuration"
        />
		
		<add id="Mofluid_Notifications::mofluid_ios_notifications"
             title="IOS Notifications"
             module="Mofluid_Notifications"
             parent="Mofluid_Notifications::mofluid_notifications"
             sortOrder="20"
             dependsOnModule="Mofluid_Notifications"
             action="mofluid_notifications/items/edit/id/1"
             resource="Mofluid_Notifications::configuration"
        />
		
		<add id="Mofluid_Notifications::mofluid_android_notifications"
             title="Android Notifications"
             module="Mofluid_Notifications"
             parent="Mofluid_Notifications::mofluid_notifications"
             sortOrder="20"
             dependsOnModule="Mofluid_Notifications"
             action="mofluid_notifications/items/edit/id/2"
             resource="Mofluid_Notifications::configuration"
        />
    </menu>
</config>


