<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mofluid_Mofluidapi2::menu" title="Mofluid" translate="title" sortOrder="100">
                    <resource id="Mofluid_Mofluidapi2::logo" title="Mofluid Logo" translate="title" sortOrder="1"/>
                    <resource id="Mofluid_Mofluidapi2::banner" title="Mofluid Banner" translate="title" sortOrder="2"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
